*{
    padding: 0;
    margin: 0;
}
.orange-bg{
    background-color:#fceae8;
    border-radius: 8px;
}
.carousel-item{
    padding: 20px 20px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background: linear-gradient(to bottom, #ff589b, #ff136f);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.container{
    margin-bottom: 100px;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background: linear-gradient(to right, #F4C91F, #794407);
    color: white;
    
}
.cat2{
    background:linear-gradient(to right, #ED337D, #80093a );
    color: white;
}
.cat3{
    background: linear-gradient(to left, #3515F8, #4179ff);
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.submit{
    height: 300px;
}
.submit h6{
    color: gray;
}
footer{
    text-align: center;
}